*.exe
*.out
*.o
*.pch
*.gch
.vscode/
*.c.gcov
*.gcda
*.gcno
*.bin
*convert.c
*convert.h
*convert.sh
*.d
*.lastbuildstate
valgrind_log.txt
/src/.idea/
/.$ER_DB.drawio.bkp
/ER_DB.png
/report/*.aux
/report/*.log
/report/*.blg
/report/*.bbl
/report/*.gz
/report/*.toc
/Методические_указания_по_выполнению_курсового_проекта_Дисциплина.pdf
/report/ИУ7-64Б-Бугаков-Иван-БД-РПЗ.pdf
/report/Бугаков-РПЗ.pdf
/report/
src/shit.sql
.idea/
/application/src/Database/Database.Context/bin/
/application/src/Database/Database.Context/obj/
/application/src/Database/Database.Models/bin/
/application/src/Database/Database.Models/obj/
/application/src/Database/Database.Repositories/bin/
/application/src/Database/Database.Repositories/obj/
/application/src/Dto/Project.Dto.Http/bin/
/application/src/Dto/Project.Dto.Http/obj/
/application/src/Dto/Project.Dto.Http.Converters/obj/
/application/src/Dto/Project.Dto.Http.Converters/bin/
/application/src/Project.Core/bin/
/application/src/Project.Core/obj/
/application/src/Project.HttpServer/bin/
/application/src/Project.HttpServer/obj/
/application/src/Services/Project.Services.CompanyService/bin/
/application/src/Services/Project.Services.CompanyService/obj/
/application/src/Services/Project.Services.EducationService/bin/
/application/src/Services/Project.Services.EducationService/obj/
/application/src/Services/Project.Services.EmployeeService/bin/
/application/src/Services/Project.Services.EmployeeService/obj/
/application/src/Services/Project.Services.PositionHistoryService/bin/
/application/src/Services/Project.Services.PositionHistoryService/obj/
/application/src/Services/Project.Services.PositionService/bin/
/application/src/Services/Project.Services.PositionService/obj/
/application/src/Services/Project.Services.PostHistoryService/bin/
/application/src/Services/Project.Services.PostHistoryService/obj/
/application/src/Services/Project.Services.PostService/bin/
/application/src/Services/Project.Services.PostService/obj/
/application/src/Services/Project.Services.ScoreService/bin/
/application/src/Services/Project.Services.ScoreService/obj/
/application/src/Tests/Project.Controller.Tests/bin/
/application/src/Tests/Project.Controller.Tests/obj/
/application/src/Tests/Project.Repository.Tests/bin/
/application/src/Tests/Project.Repository.Tests/obj/
/application/src/Tests/Project.Service.Tests/bin/
/application/src/Tests/Project.Service.Tests/obj/
