*.exe
*.out
*.o
*.pch
*.gch
.vscode/
*.c.gcov
*.gcda
*.gcno
*.bin
*convert.c
*convert.h
*convert.sh
*.d
*.lastbuildstate
valgrind_log.txt
/src/.idea/
/.$ER_DB.drawio.bkp
/ER_DB.png
/report/*.aux
/report/*.log
/report/*.blg
/report/*.bbl
/report/*.gz
/report/*.toc
/Методические_указания_по_выполнению_курсового_проекта_Дисциплина.pdf
/report/ИУ7-64Б-Бугаков-Иван-БД-РПЗ.pdf
/report/Бугаков-РПЗ.pdf
/report/
src/shit.sql
.idea/
